@import "tailwindcss";

@theme {
	--color-primary: #5a0070;
	--color-primary-accent: #5a007070;
	--color-secondary: #4a005c;
	--color-foreground: #16171a;
	--color-foreground-secondary: #212226;
	--color-foreground-tertiary: #2b2c30;
	--text-primary: #fff;
	--text-secondary: #c1c1c1;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--sidebar-width: 260px;
	--modal-width: 450px;
	--modal-max-height: 700px;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0;
	color: var(--text-primary);
}

ul {
	margin: 0;
	list-style: none;
}
