@import "tailwindcss";

@theme {
	--color-primary: #5a0070;
	--color-secondary: #4a005c;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--sidebar-width: 220px;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0;
}

ul {
	margin: 0;
	list-style: none;
}
